body{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 5%, rgba(0,212,255,1) 55%, rgba(9,9,121,1) 90%);
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 20px;
    padding-right: 1%;
    background-color: rgb(255, 255, 255,0.6);
}
.sign{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.regForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 85vh;
}
.email{
    margin-top: 5%;
}
.title{
    font-family: 'Roboto', sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
}
label, input{
    font-family: 'Roboto', sans-serif;
    
}
.regForm .email label, 
.regForm .confirmEmail label, 
.regForm .password label, 
.regForm .confirmPassword label {
  display: inline-block;
  width: 150px;
  text-align: right;
  padding-right: 10px;
}
.regForm input[type="email"], 
.regForm input[type="password"] {
  display: inline-block;
  width: 200px;
  margin-bottom: 10px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    padding-left: 2%;
    
}
.signUp{
    color: rgb(255, 255, 255);
    border: none;
    padding: 3.5% 6% 3.5% 6%;
    background-color: rgb(3, 74, 228);
    border-radius: 10px;
    margin-top: 15%;
    
}  
input[type="text"], input[type="email"], input[type="password"] {
    height: 30px;
    border-radius: 10px;
    outline: none;

  }